done.txt
emuos
drawing/
ebook/
firefox/
perl/
projects/
shellscript/
text/
usys/
vb6/
www/
c/
cpp/
batch/
freebasic/
tmp/
utils/
.authors
gsbridge/
ffprofile/
gsvn-bundle/
cmd/
repos/
gsvn/
webpages/
miniplace/
.*.swp
